**/.terraform
**/.terraform.lock.hcl
**/.terraform.lock.hcl.lock
**/.terraform.lock.hcl.lock.lock
**/.terraform.lock.hcl.lock.lock.lock
**/.terraform.lock.hcl.lock.lock.lock.lock
**/.terraform.lock.hcl.lock.lock.lock.lock.lock